body {
    font-family: Arial, sans-serif;
    margin: 0;
    transition: all 0.3s ease;
}

/* CONTAINER PRINCIPAL */
.pagina {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

/* TOPO */
.topo {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.primarca-image {
    width: 100%;
    max-width: 420px;
    height: auto;
}

/* RESUMO */
.resumo h1 {
    margin-top: 0;
}

.resumo p {
    line-height: 1.6;
}

/* CONTEÚDO */
.conteudo h2 {
    border-bottom: 2px solid; 
    padding-bottom: 5px;
    margin-top: 30px;
}

.conteudo p {
    line-height: 1.6;
}

/* DESTAQUE */
.destaque {
    margin-top: 20px;
}

/* RODAPÉ */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.troop-image {
    width: 80px;
    border-radius: 5px;
}


/* container */
.pagina {
    background-color: rgba(20, 20, 20, 0.9);
    border-left: 5px solid #cccccc;
    box-shadow: 0 0 25px rgba(255,255,255,0.1);
}

.tema-desconhecido ,.pagina{
    border-left: none;
}

@media (min-width: 768px) {
    .topo {
        flex-direction: row;
        align-items: flex-start;
        gap: 20px;
    }

    .primarca-image {
        width: 250px;
        max-width: none;
        border-radius: 8px;
    }

    .resumo p {
        font-size: 1.6rem;
    }

    .nav {
        justify-content: space-between;
        padding: 20px;
    }
}
/*****************************************************************/